*{
    margin: 0;
    padding: 0;
}
h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: orangered;
    background-color: white;
}

/* ATACANDO FORMULARIO DE DATA*/
div#insere input{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline;
    height: 20px;
    width: 150px;
    margin: 10px;
    border-radius: 30px 10px;
    border: 1px solid black;
    font-size: 10pt;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.01);
    color: white;
    outline: none;
    text-decoration: none;

}
div#insere label{
    margin: 10px;
    color: white;
}
div#insere {
    background-color: orangered;
}
div#insere input[type=date] {
    cursor: pointer;
}

/* ARACANDO O DOTÃO VERIFICAR*/
div#insereProd input[type=submit] {
    height: 25px;
    width: 100px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    margin: 30px 10px;
    
}

div#insereProd input[type=submit]:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
}
div#insereProd input[type=submit].active {
    background-color: orangered;
    background-color: white;
    
}

div#tamanhoBags input{
    margin: 10px;
}
div#tamanhoBags h4{
    margin: 10px;
}